[submodule "projects/project-svc"]
	path = projects/project-svc
	url = git@github.com:gfsx0259/o10r-project-svc.git
	branch = main
[submodule "projects/dashboard"]
	path = projects/dashboard
	url = git@github.com:gfsx0259/o10r-dashboard.git
	branch = main
[submodule "projects/ory"]
	path = projects/ory
	url = git@github.com:gfsx0259/o10r-ory.git
	branch = main

[submodule "projects/session-svc"]
	path = projects/session-svc
	url = git@github.com:gfsx0259/o10r-session-svc.git
	branch = main
[submodule "projects/pp"]
	path = projects/pp
	url = git@github.com:ruslanpetunin/o10r-pp-spa.git
	branch = main
